@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */

    --foreground: 203 62% 4%; /* #040C11 */
    --muted-foreground: 0 0% 44%; /* #717171 */

    --primary: 20 100% 64%; /* #ff8749 */
    --primary-foreground: 0 0% 100%; /* #ffffff */

    --secondary: 202 62% 40%; /* #2779A7 */
    --secondary-foreground: 0 0% 100%; /* #ffffff */

    --accent: 357 100% 79%; /* #ff9398 */
    --accent-foreground: 0 0% 100%; /* #ffffff */

    --border: 0 0% 92%; /* #ebebeb */
    --destructive: 357 100% 44%; /* #e0000b */

    --success: 141 82% 38%;
    --warning: 39 89% 52%;
    --danger: 336 91% 44%;
  }

  .dark {
    --background: 0 0% 0%;

    --foreground: 210 13% 11%; /* #181c20 */
    --muted-foreground: 0 0% 44%; /* #717171 */

    --primary: 208 100% 47%;
    --secondary: 262 53% 53%;
    --accent: 357 100% 79%; /* #ff9398 */

    --border: 0, 0%, 92%;
    --destructive: 357 100% 44%; /* #e0000b */

    --success: 141 81% 40%;
    --warning: 39 90% 53%;
    --danger: 334 94% 45%;
  }


}

@layer base {
  body {
    @apply relative bg-no-repeat bg-fixed bg-background text-foreground
  }
}

@layer utilities {
  .body-gradient {
    background-image: linear-gradient(180deg, hsla(20, 100%, 64%, 1) 20%, hsla(20, 100%, 67%, 1) 50%, hsla(20, 100%, 80%, 1) 100%);
  }

  .facebook-gradient {
    background: linear-gradient(to right, #3b5998, #1877f2);
  }
  .google-gradient {
    background: linear-gradient(to right, #b94032, #dc4136);
  }

  .facebook-gradient:hover {
    background: linear-gradient(to right, #3b5998, #145b9d);
  }
  .google-gradient:hover {
    background: linear-gradient(to right, #b94032, #b02e26);
  }

  .auth-btn-gradient {
    background: linear-gradient(to right, #ff691f, #ff8749);
  }
  .auth-btn-gradient:hover {
    background: linear-gradient(to right, #ff691f, #FF7733);
  }

  .primary-gradient-225 {
    background: linear-gradient(225deg, #ffffff, #ff8749);
  }

  /* CSS Tricks */

  /* Text with separators */
  .text-with-separators {
    @apply relative flex items-center;
  }

  .text-with-separators::before,
  .text-with-separators::after {
    @apply w-full h-[1px] bg-border;
    content: "";
  }

  .text-with-separators::before {
    @apply mr-[20px];
  }

  .text-with-separators::after {
    @apply ml-[20px];
  }

  /* Floating labels */
  .floating-label {
    @apply absolute font-normal left-unit-3 top-1/2 transform -translate-y-1/2 transition-all duration-200 ease-in pointer-events-none
  }

  .focused .floating-label,
  .floating .floating-label {
    @apply top-[18px] text-xs
  }

}
